
<div *ngIf="showTable">
<table class="candidateTable" border="3" cellpadding=5>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>YearBegin</th>
        <th>Languages</th>
    </tr> 
     <tr *ngFor="let can of candidates">
        <td>{{can.id}}</td>
        <td>{{can.name}}</td>
        <td>{{can.yearBegin}}</td>
        <td>{{can.allLanguage}}</td>
    </tr>
</table>


</div>

<br><br>

<div>
    <input type="button" value="show all candidates" (click)="showCandidateList()">
    <input type="text" placeholder="input Senior or Junior" #lev>
    <input type="text" placeholder="input language" #lang>
    <input type="button" value="search" (click)="getMatchCandidates(lang.value,lev.value)">
</div>
<Div *ngFor="let can of matchCandidates">
    <label>{{can.id}}</label>
    <label>{{can.name}}</label>
    <label>{{can.yearBegin}}</label>
    <label>{{can.LastUpdateDate}}</label>
    <label>{{can.allLanguage}}</label>
</Div>