
<div *ngIf="showTable">
<table class="candidateTable" border="3" cellpadding=5>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>YearBegin</th>
        <th>Languages</th>
    </tr> 
     <tr *ngFor="let can of candidates">
        <td>{{can.Id}}</td>
        <td>{{can.Name}}</td>
        <td>{{can.BeginYear}}</td>
        <td>{{can.LastUpdateDate}}</td>
        <td>{{can.allLanguages}}</td>
    </tr>
</table>


</div>

<br><br>

<div>
    <input type="button" value="show all candidates" (click)="showCandidateList()">
    <input type="text" placeholder="input Senior or Junior" #lev>
    <input type="text" placeholder="input language" #lang>
    <input type="button" value="search" (click)="getMatchCandidates(lang.value,lev.value)">
    <div *ngFor="let matchCandidate of matchCandidates">

        <label > candidate id : {{matchCandidate.Id}}</label>
        <br><br>
        <label > candidate name: {{matchCandidate.Name}}</label>
        <br><br>
        <label > candidate year begin: {{matchCandidate.BeginYear}}</label>
        <br><br>
        <label > candidate last update date: {{matchCandidate.LastUpdateDate}}</label>
        <br><br>

        <label> candidate languages:{{matchCandidate.allLanguages}}</label>
        <br><br>

    </div>

</div>
